body {
    background-color: #364F6B;
    
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1 {
    color: #64bfbf;
}

h3 {
    color: #64bfbf;
}

p {
    color: #F5F5F5;
}

td {
    color: #F5F5F5;
}
li {
    color: #F5F5F5;
}
th {
    
    color: #F5F5F5;
}
href {
    color: #FC5185 ;
}
